body {
  background-color: #99b8c2;
}


.section_subtitle{
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 25px;
  width: 100%;
  line-height: 1;
  text-transform: uppercase;
  color: #716e6e;
  border-left: 3px solid #bfa67a;
  font-size: 700;

}

.history_script{
  font-size: 17px;
  margin-right: 1rem;
}


.used-car-img {
  text-align: center;
}



.used-car-img img {
  width: 575px;
  height: 300px;
  border-radius: 2%;
  margin-top: 110px;
}


.mission-statement-img img {
  width: 575px;
  height: 300px;
  border-radius: 2%;
  margin-top: 110px;
  margin-left: 2rem;
  text-align: center;
}

.btn-color-background{
 
  background-image: -webkit-linear-gradient(145deg,#5B5B5B 0%,#5B5B5B 0%, #3D3D3D 100%);
  border: 1px solid #090909;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 12px 48px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  vertical-align: middle;


}

.btn-color-background:hover{
  text-decoration: none;
  color: #272627;
  background: transparent;
}

.values-item{
  padding: 0 8px;
}

.values-item ion-icon{
  float: left;
  font-size: 45px;
  color: #bfa67a;
  line-height: 45px;
}

.values-single-item{
  margin-left: 65px;
}

#skills{
  margin-top: 165px;
}
.skillbar{
  position: relative;
  display: block;
  margin: 0 auto 20px;
  width: 100%;
  height: 40px;
  transition: 0.4s linear;
  transition-property: width,background-color;
}

.skillbar-title{
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.skillbar-bar{
  height: 2px;
  width: 80%;
  background: #000;
  border-radius: 3px;
  float: left;
}

.skill_area p{
  text-align: justify;
  width: 90%;
}

.team-item{
  position: relative;
}

.team-item .info{
  padding-top: 0;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .8s;
}

.team-item .info h5{
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #bfa67a;
  transition: all 0.5s;
}

.team-item:hover .info h5{
  margin-bottom: 10px;
}

.team-item .info h6{
  font-size: 16px;
  margin-bottom: 0px;
  color: #eee;
  transition: all 0.2s;
}

.team-item:hover .info h6{
  margin-bottom: 10px;
}


.team-item:hover .info{
  padding-top: 40%;
}
.team-item .social-icon{
  color: white;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}

.images-used{
  min-width: 100%;
}

.team-item:hover .info{
  opacity: 1;
}

.team-item:hover .social-icon{
  opacity: 1;
}