@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500&display=swap');
body
{
    background:#353333;
}

#Title
{
    color: #EEEEEE;
    
    font-size: 5rem;
    margin: 0%;
    font-family: 'Inter Tight', sans-serif;
    transition: 0.5s ease;
}
.info-row:hover
{
  transition: 0.5s ease;
  transform: translate(-20px);
  transition: 0.5s ease;
}
.info-left:hover
{
  transition: 0.5s ease;
  transform: translate(20px);
  transition: 0.5s ease;
}
.card {
  transition: .5s ease;
  box-shadow: 0 8px 8px -4px #5db5cec4;
}

span
{
  margin-top: 1rem;
  font-size: 2rem;
  margin-right: 1rem;
  text-align:center;
}
.stars
{
  position: relative; 
  left: 20%;
}


.card:hover {
  transition: .5s ease;
  box-shadow: 0 0 0 0px #EEEEEE;
}
.carousel-control-prev-icon .carousel-control-next
{
  transition: .5s ease;
  box-shadow: 0 0 0 0px #EEEEEE;
}
.card
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color:#1b1d1f;
    box-shadow: #EEEEEE;
    color: #EEEEEE;
    font-family: 'Inter Tight', sans-serif;
}
.testimonial
{
    background-color: #3e5f70;
}


.paragraph-headers
{
  font-size: x-large;
  font-weight: 600;
  color: #EEEEEE;
}
.info-paragraph
{
  font-size: large;
  color:#EEEEEE;
  font-weight:400;
}
.carousel 
{
    width: 100%;
}
.carousel-control-prev-icon {
    transform: translateX(-50px);

}
.people
{
    border-radius: 50%;
    width: 20%;
    position: relative;
    left: 5%;
    top: 20px;
    margin-bottom: 20px;
}

  
  .test
  {
    margin-left: 10px;
  }
  .carousel-item
  {
    width: 100%; 
  }
  .carousel-control-prev-icon
  {
    transform: translateX(5px);
    filter: invert(100%);
  }
  .carousel-control-next-icon
  {
    transform: translateX(-5px);
    filter: invert(100%);
  }
  .inspection-heading
  {
    color: #EEEEEE;
    margin-top: 1rem;
  }
  .inspection-text
  {
    color: #EEEEEE;
    font-size: x-large;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .inspection-list
  {
    color: #EEEEEE;
    font-size: x-large;
    margin-left: 4rem;
    margin-top: 2rem;
  }
  li
  {
    margin-top: 0.5rem;

  }
  #certification-header
  {
    color: #EEEEEE;
    margin-bottom: 1rem;
  }
  #certficat
  {
    width: 70%;
    margin-left: 2rem;
  }

  @media (max-width = 600px)
  {
    
    .carousel-control-prev-icon
    {
        transform: translateX(-20px);
    }
  }
  @media (max-width = 400px)
  {
    .carousel-control-prev-icon
    {
        transform: translateX(-50px);
    }
  }
  .review
  {
    background-color: blue;
  }
