body {
    background-color: #99b8c2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.car-quiz-desc {
    margin: 1rem 2rem;
    padding: 6% 3%;
}

.car-quiz-text p  {
    margin-top: 1.5rem;
}

.car-quiz-text button {
    margin-top: 1.5rem;
}

.car-quiz-img {
    text-align: center;
}

.car-quiz-img img {
    width: 350px;
    border-radius: 4%;
}

@media (max-width: 998px) {
    .car-quiz-text {
        text-align: center;
    }

    .car-quiz-img {
        margin-top: 2rem;
    }
}

/* car quiz box css */
.car-quiz-box {
    background-color: #fff;
    width: 70%;
    padding: 1rem;
    margin: 3% auto;
    border-radius: 2%;
}

.question-container {
    text-align: center;
}

.max-val {
    float: right;
}

.question {
    font-size: 1.5rem;
}

.entry-container {
    margin-top: 2rem;
    text-align: center;
}

.entry {
    text-align: center;
}

/* question 3 css */
.body-styles {
    text-align: center;
    padding: 2rem;
}

.body-style img {
    width: 80%;
    border-radius: 4%;
}

.body-style button {
    width: 90px;
    margin: 1rem 0;
    padding: 2%;
    color: black;
 
}

.body-style:last-child {
    margin: 0 auto;
}

.submit-btn-container {
    text-align: center;
    padding: auto;
    margin-bottom: 2rem;
}

.submit-quiz {
    padding: 1% 2%;
}

.submit-btn-container button {
    width: 60%;
}

.car-results {
    margin: 1rem;
}

