@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500&display=swap');

div {
    margin: 0;
    padding: 0;
}


body {
    background: #353333;
    font-size: 14px;
    font-family: 'Inter Tight', sans-serif;
    color: #fff;
}

.contact-us-form {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: #353333;
}

.contact-left {
    padding: 40px 60px;
}

.contact-right {
    padding: 40px;
    background: #353333;
    color: #fff;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    background-color: #353333;
    border: 2px solid #ccc;
    color: white;
    outline: none;
    padding: 5px;
}

textarea {
    background-color: #353333;
    width: 100%;
    border: 2px solid #ccc;
    outline: none;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #fff;
}

.submit-btn {
    background: #395B64;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}


.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

@media (max-width: 994px) {
    .contact-right {
        padding: 60px;
    }

    tr td:first-child {
      width: 75%;
    }

    tr td:last-child {
        text-align: right;
    }
}

.faq {
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
  }
   .faq-question {
    cursor: pointer;
    background-color: #353333;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   .faq-question::after {
    content: "+";
    font-size: 18px;
    margin-right: 10px;
  }
   .faq-question.active::after {
    content: "-";
  }
   .faq-answer {
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
    border-radius: 4px;
    display: none;
    transition: max-height 650ms;
  }
   .faq-answer.active {
    display: block;
  }
   @media (max-width: 600px) {
    .faq-question {
      display: block;
      margin-bottom: 20px;
    }
    .faq-answer {
      display: block;
    }
  }
 