@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1370px;
  margin:auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-elements {
  list-style: none;
  margin-left: 0;
  padding-left: 32%;
}


.footer {
  background-color: #212121;
  padding: 4rem 0;
}

.footer-col {
  width: 25%;
}

.footer-col h4 {
  padding-left: 32%;
  font-size: 1rem;
  color: #fff;
  margin-bottom: .7rem;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  position: relative;
}

.dealership-info ul li span {
  font-size: 1rem;
  color: #bbb;
  text-decoration: none;
  font-weight: 300;
}

.footer-col ul li a{
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: .6rem;
}

@media(max-width: 800px){
  .footer-col{
    width: 50%;
    margin-bottom: 2.2rem;
  }

  .footer-elements {
    padding-left: 32%;
  }

  .footer-col h4 {
    padding-left: 32%;
    font-size: 1rem;
  }

  .footer-col ul li a{
    font-size: .75rem;
  }
}

