@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500&display=swap');


:root
{
    --primary: #6B767B;
    --light: #fff;
    --dark: #212121;
    --default_opacity: 0.9;
}

body
{
    background: #353333;
}

.car-carousel {
    position: relative;
    opacity: .9;
}


.carousel-text {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 99;
}

.header-text {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
}

.header-text h1 {
    color: var(--light);
    font-family: 'Inter Tight';
    letter-spacing: .1rem;
    overflow: hidden; 
    border-right: .1em solid white; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: typing 3.25s steps(35), blink .30s step-end infinite alternate;
    font-size: 3vw;
}

.row {
    margin: 0;
}

.carousel-text button {
    margin-top: 10px;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

@media (max-width : 998px) {
    /* .carousel-text h1 {
        font-size: 1.8rem;
    } */

    .carousel-text button {
        font-size: 1rem;
    }
}

@media (max-width : 668px) {
    /* .carousel-text h1 {
        font-size: 1.2rem;
    } */

    .carousel-text button {
        font-size: .8rem;
    }
} 

/* .service-section {
    justify-content: center;
    background-color: #373636;
    margin-right: 0;
}

.service-tile {
    margin: 4rem 1.5rem;
    text-align: center;
}


.tile-img img {
    max-width: 256px;
    border-radius: 5%;
}

.tile-text {
    font-size: .9rem;
    padding: 0 .3rem 0 0;
    margin-top: 2rem;
    font-weight: 500;
    color: #fff;
}

.tile-text button {
    font-size: .8rem;
}

.tile-btn {
    margin-top: 1rem;
    
} */



.service-title {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

hr {
    width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    size: 8px;
}

.service-title h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 350;
    color: white;
}

.service-section {
    display: flex;
    justify-content: space-evenly;
}

.tile {
    position: relative;
}

.tile:hover img {
    transform: scale(1.15);
    filter: brightness(50%);
}

.tile-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    filter: brightness(80%)
}


.tile-img img {
    width: 96%;
    transition: 0.3s all ease-in-out;
}

.tile-text {
    margin-bottom: 0;
    width: 100%;
    color: white;
}

.tile-text p {
    margin-bottom: 1px;
    font-size: 1.25vw;
    font-weight: 500;
}

.tile-btn button {
    font-size: 1.25vw;
}

.tile-content {
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.feat-vehicles-title {
    margin-top: 40px;
    text-align: center;
    color: white;
}


@media (max-width: 625px) {
    .carousel-text {
        font-size: 1.6rem;
    }
}

/* featured car section css */

.feat-vehicles-title {
    font-weight: 350;
    font-size: 35px;
    margin: 0;
}

.car-card {
    justify-content: center;
    padding: 2% 20%;
}

.card-text-body {
    padding-left: 8%;
    padding-top: 8%;
    color: white;
}

.card-img-body {
    text-align: right;
}

.card-img {
    border-radius: 3%;
}

@media (max-width: 878px) {
    .card-text-body {
        margin-top: 1rem;
        text-align: center;
    }
}


.feat-nav-link {
    color: white;
    border-bottom: 2px solid rgb(156, 156, 156);
}

.feat-nav-link:hover {
    color: rgb(156, 156, 156);
}

.active-nav-link {
    border-bottom: 2px solid white;
}