@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root
{
    --primary: #6B767B;
    --light: #fff;
    --dark: #212121;
    --default_opacity: 0.9;
}

.car-carousel {
    position: relative;
}


.carousel-text {
    color: var(--light);
    font-family: 'Montserrat';
    letter-spacing: .05rem;
    text-transform: none;
    position: absolute;
    z-index: 3;
    margin-left: 13%;
    margin-top: 8%;
    font-size: 3rem;
}

.service-section {
    justify-content: center;
    background-color: #c4c6c8;
}

.service-tile {
    margin: 1.5rem;
    margin-top: 4rem;
    text-align: center;
}

.tile-img {
    float: left;
}

.tile-img img {
    max-width: 70%;
    border-radius: 5%;
}

.tile-text {
    font-size: .9rem;
    padding: 0 .5rem 0 0;
    margin-top: 2rem;
    font-weight: 500;
}

.tile-btn {
    margin-top: 1rem;
}

.feat-vehicles-title {
    margin-top: 2rem;
    text-align: center;
}

.social-media {
    margin-top: 2rem;
    text-align: center;
}

.social-media a {
    font-size: 1rem;
    color: #c4c6c8;
    text-align: center;
}

@media (max-width: 625px) {
    .carousel-text {
        font-size: 1.6rem;
    }
}

/* featured car section css */



.feat-vehicles {
    max-width: 1200px;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative
}

.feat-vehicles i {
    top: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.feat-vehicles i:first-child {
    left: -1.5rem;
}

.feat-vehicles i:last-child {
    right: -1.5rem;
}

.feat-vehicles .feat-carousel {
    font-size: 0;
    cursor: pointer;
    white-space: nowrap;
}

.feat-carousel img {
    object-fit: cover;
    margin-left: .9rem;
    width: calc(100% / 3);
}

.feat-carousel img:first-child {
    margin-left: 0;
}


