@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500&display=swap');




:root
{
    --primary: #6B767B;
    --light: #fff;
    --dark: #212121;
    --default_opacity: 0.9;
}


body
{
    background: #353333;
}


.car-carousel {
    position: relative;
    opacity: .9;
}




.carousel-text {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 99;
}


.header-text {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
}


.header-text h1 {
    color: var(--light);
    font-family: 'Inter Tight';
    letter-spacing: .1rem;
    overflow: hidden;
    font-weight: 400;
    border-right: .1em solid white;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.25s steps(35), blink .30s step-end infinite alternate;
    font-size: 58px;
}




.explore-btn button {
    font-size: 29px;
}


.row {
    margin: 0;
}


.carousel-text button {
    margin-top: 10px;
}




@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
 
/* The typewriter cursor effect */
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
}




.service-title {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}


hr {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    size: 8px;
}


.service-title h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 350;
    color: white;
}


.service-section {
    display: flex;
    justify-content: space-evenly;
}


.tile {
    position: relative;
}


.tile:hover img {
    transform: scale(1.15);
    filter: brightness(50%);
}


.tile-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    filter: brightness(80%)
}




.tile-img img {
    width: 100%;
    transition: 0.3s all ease-in-out;
    opacity: 70%;
}


.tile-text {
    margin-bottom: 0;
    width: 100%;
    color: white;
}


.tile-text p {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
}


.tile-btn button {
    font-size: 22px;
}


.tile-content {
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}




.feat-vehicles-title {
    margin-top: 40px;
    text-align: center;
    color: white;
}




@media (max-width: 625px) {
    .carousel-text {
        font-size: 1.6rem;
    }
}


/* featured car section css */


.feat-vehicles-title {
    font-weight: 350;
    font-size: 44px;
    margin: 0;
}


.car-card {
    justify-content: center;
    padding: 2% 20%;
}


.card-text-body {
    padding-left: 8%;
    padding-top: 8%;
    color: white;
}


.card-img-body {
    text-align: right;
}


.card-img {
    border-radius: 8px;
}


.card-text-body h5 {
    font-size: 30px;
}


.card-text-body p {
    font-size: 22px;
}


.card-text-body button {
    font-size: 18px;
}


@media (max-width: 990px) {
    .card-text-body {
        margin-top: 1rem;
        text-align: center;
    }
}




.feat-nav-link {
    color: white;
    border-bottom: 2px solid rgb(156, 156, 156);
    font-size: 24px;
}






.feat-nav-link:hover {
    color: rgb(156, 156, 156);
}


.active-nav-link {
    border-bottom: 2px solid white;
}


@media (max-width: 1600px) {
    .tile-text p { font-size: 16px; }
    .tile-btn button { font-size: 14px; };
    .card-text-body button { font-size: 14px; };
}


@media (max-width : 1200px)  {
    .header-text h1 { font-size: 38px; }
    .explore-btn button { font-size: 19px; }
    .service-tile h1 { font-size: 38px; }
    .feat-vehicles-title { font-size: 38px; }
    .feat-nav-item a { font-size: 22px; }
    .card-text-body h5 { font-size: 19px; }
    .card-text-body p { font-size: 15px; }
    .card-text-body button { font-size: 13px; };
}




@media (max-width: 878px) {
    .header-text h1 { font-size: 22px; }
    .explore-btn button { font-size: 16px; }
    .service-title h1 { font-size: 22px; }
    .feat-vehicles-title { font-size: 22px; }
    .feat-nav-item a { font-size: 12px; }
    .tile-text p { font-size: 16px; }
    .tile-btn button { font-size: 11px; }
    .card-text-body h5 { font-size: 20px; }
    .card-text-body p { font-size: 16px; }
    .card-text-body button { font-size: 13px; };
}


@media (max-width: 450px) {
    .header-text h1 { font-size: 19px; }
    .explore-btn button { font-size: 8px; }
    .service-title h1 { font-size: 19px; }
    .feat-vehicles-title { font-size: 19px; }
    .feat-nav-item a { font-size: 10px; }
    .tile-text p { font-size: 12px; }
    .tile-btn button { font-size: 9px; }
    .card-text-body h5 { font-size: 16px; }
    .card-text-body p { font-size: 12px; }
    .card-text-body button { font-size: 13px; };
    .card-text-body button { font-size: 10px; };
}


@media (max-width: 768px) {
    .service-section {
        display: block;
        margin: 12px 0;
    }
}
