body {
    background-color: #716e6e;
}

h1 {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
}

span {
    font-size: 1rem;
}

.row {
    margin-right: 0;
}

input, select {
    float: right;
}

.entry-field {
    padding: .6rem 0rem;
    margin: .3rem .4rem;
}

.submit-btn {
    width: 100%;
    margin-top: 1rem;
}

.loan-estimator {
    justify-content: center;
}


.input-box {
    width: 50%;
    padding: .1rem 0rem .1rem 1rem;
    text-align: center;
}

.loan-estimator-desc {
    color: #403f3f;
    font-weight: 500;
    font-size: 1rem;
}


.loan-estimator-input, .loan-estimator-results {
    border-radius: 10px;
    background-color: #fff;
    padding: 19px;
    margin-top: 30px;
    margin-left: 1.5rem;
    width: 42%;
}

.loan-estimator {
    margin-bottom: 15px;
}

.monthly-payment {
    text-align: center;
    background-color: #47748b;
    border-radius: 10px;
}

.row-value {
    float: right;
}

.monthly-price {
    font-size: 60px;
}

.month-subscript {
    font-size: 19px;
}

.monthly-payment-row {
    margin: .8rem 0rem;
    width: 100%;
}

@media(max-width: 1200px) {
    .loan-estimator-input, .loan-estimator-results {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .loan-estimator-input, .loan-estimator-results {
        width: 99%;
    }

    span {
        font-size: 15px;
    }


    .monthly-price .monthly-price {
        font-size: 24px;
    }
}

.modal-container {
    position: relative;
    display: inline-block;
}
  
.modal-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100px;
    padding: 5px;
    font-size: 12px;
    z-index: 1;
}

.modal-container button {
    background: none;
    border: none;
}
  
.modal-btn:hover + .modal-content {
    display: block;
}