@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500&display=swap%27');

:root
{
    --primary: #5db5cec4;
    --light: #EEEEEE;
    --dark: #212121;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

.main-navbar-brand {
    margin-right: -2rem;
}

.main-navbar {
    background-color: var(--dark);
    color: white;
    z-index: 99;
}

.main-navbar-logo {
    max-width: 70%;
    margin-left: .6rem;
}

.main-nav-item {
    padding: .05rem 1.2rem;
}

a {
    border-bottom: .1rem solid transparent;
}

.main-nav-link {
    font-size: 1rem;
}

.search-bar {
    padding: .3rem;
}

.main-nav-active {
    border-bottom: .1rem solid white;
}


@media (min-width: 768px)
{
    .nav-bar-buttons
    {
        display: flex;
    }
}