@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500&display=swap%27');

:root
{
    --primary: #5db5cec4;
    --light: #EEEEEE;
    --dark: #212121;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

.main-navbar {
    background-color: var(--dark);
    color: var(--light);
    z-index: 99;
}

.main-navbar-logo {
    max-width: 45%;
    margin-left: .5rem;
}

.main-nav-item {
    padding: .05rem .5rem;
}


.main-nav-link {
    font-size: .9rem;
}

.search-bar {
    padding: .3rem;
}

.search-btn {
    background-color: var(--dark);
    color: var(--light);
    border: 0;
}

@media(max-width: 450px) {
    .main-navbar-brand {
        width: 70%;
    }
}
