body
{
    background: #222121;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loader-logo
{
    animation: rightToLeft 2s ease;
    height: 4vh;
    object-fit: cover;
    object-position: 100% 0;
    filter: brightness(90%);
}

@media (max-width: 450px)
{
  .loader-logo
  {
    height: 25px;
    animation: mobilerightToLeft 2s ease;
  }
}

.fadeouthome
{
  animation: fadeout 2s ease;
}

@keyframes fadeout {
  0%
  {
    opacity: 100%;
  }
  100%
  {
    opacity: 0%;
  }
}

@keyframes rightToLeft {
    0% {
      width: 0;
    }
    100% {
      width: 60vh;
    }
  }

.rotator
{
    display: block;
    margin-top: 10px;
    content: "";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader-rotation 1.2s linear infinite;
}



@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes mobilerightToLeft {
    0% {
      width: 0;
    }
    100% {
      width: 200px;
    }
  }
